@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i&display=swap&subset=latin-ext');

$site-font: 'Raleway',
sans-serif;

$light-gray: rgb(240, 240, 240);
$dark-gray: rgb(80, 80, 80);
$white: white;